:root {
  --primary-color: black;
  --secondary-color: white;
  --primary-font: 'Press Start 2P', cursive;
  /* --primary-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  --secondary-font: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  --border-style: 2px solid var(--primary-color);
  --border-radius: 20px;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--secondary-font);
}

.App, .introBox, .firstScene {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: var(--border-radius);
  border: var(--border-style);
}

.App {
  justify-content: center;
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.mainPhoto {
  width: 250px;
  height:250px;
  object-fit: cover;
  border-radius: var(--border-radius);
  border: var(--border-style);
  justify-content: center;
}

.h1Intro, h1 {

  margin-bottom:40px;
  font-size: 1.2em;
}

.h2Intro, h2 {

  font-size: .5em;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-family: "Old Standard TT", serif;
  font-size: 1.3em;
}

.introBox {
  padding: 40px;
  height: 600px;
  width: 600px;
  margin: 40px;
  background-image: url('./images/pattern2.png');
}

.introBoxInner {
  width: 500px;
  height: 500px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  display: block; /* or flex, depending on your layout needs */
  justify-content: center;
  align-items: center;
}

.firstScene {
  padding: 20px;
  margin: 20px;
}

.btn {
  align-self: flex-end;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 10px;
  border-radius: var(--border-radius);
  border: var(--border-style);
  margin: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;  
  font-size: 1.1rem;  
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.btn2 {
  display: inline-block;
  padding: 5px 5px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  text-decoration: none;
}

p {
  font-size: 1.1rem;
  margin: 20px;
  text-align: center;
  font-weight: 600;
}